$font-main : rgb(41, 41, 41);

$green : rgb(82, 185, 82);
$red : rgb(247, 49, 49);
$blue : rgb(49, 118, 209);
$gray : rgb(170, 170, 170);
$light-gray : rgb(211, 211, 211);

$gradient : repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
