$font-main : rgb(41, 41, 41);

$green : rgb(41, 155, 41);
$red : rgb(211, 36, 36);
$blue : rgb(23, 99, 199);
$gray : rgb(170, 170, 170);

$gradient : repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
